@model  List<NewMovieDenemesi.Models.PagesModel.Sınıflar.MovieBlog>



@using NewMovieDenemesi.Models.PagesModel.Sınıflar
@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Movie</h2>

 
<br />
<table class="table table-bordered"  >
    <tr>
        <th>Id</th>
        <th>Title</th>

        <th>Image</th>

        <th>Category</th>
        <th>Settings</th>
        <th>Status</th>
    </tr>

    @foreach (var x in Model)
    {
<tr>
    <td>@x.Id</td>
    <td>@x.Title</td>

    <td style="width: 2px">@x.Image</td>


    <td>@x.CategoryId</td>
    <td>

        <a href="~/Admin/BlogDelete/@x.Id" class="btn btn-warning" style="background-color:aqua">Delete</a>
        <a href="~/Admin/BlogEdit/@x.Id" class="btn btn-warning" style="background-color:coral">Edit</a>
    </td>
    <td>
     <a href="~/Admin/BlogComment/@x.Id" class="btn btn-warning" style="background-color:greenyellow">Comment</a>
</td>
</tr>}


</table>


<a href="/Admin/BlogCreate/" class="btn btn-primary" style="background-color:mediumspringgreen">Create Blog</a>
